.App {
  text-align: center;
  overflow: hidden;
}

.ant-carousel .slick-slide {
  text-align: center;
  height    : 160px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.swiperItem {
  position: relative;
  width   : 100%;
  height  : 100%;
}

.swiper-title {
  position   : absolute;
  bottom     : -15px;
  left       : 0;
  background : rgba(0, 0, 0, 0.6);
  color      : #fff;
  width      : 100%;
  height     : 30px;
  text-align : left;
  text-indent: 5px;
  line-height: 30px;
}

.ant-carousel .slick-dots {
  bottom: 12px;
  right : -130px;
}

.new-list-item {
  width        : 100%;
  display      : flex;
  position     : relative;
  padding      : 10px 15px;
  border-bottom: 1px solid #eee;
}

.left-info {
  flex        : 1;
  margin-right: 10px;
}

.left-info h4 {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.right-img {
  flex  : 0;
  width : 130px;
  height: 70px;
}

.right-img img {
  width : 130px;
  height: 70px;
}

.new-time {
  position : absolute;
  bottom   : 10px;
  left     : 15px;
  font-size: 12px;
}
.nav-wrp {
  width: 100%;
  height: 50px;
  background: #252b45;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
}
.back-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.html-wrp {
  min-height: 500px;
  padding-top: 40px;
}